.App {
  background-color: #282c34;
  color: #fff;
  padding: 30px 0;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px
}

*,
*::after, 
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app__title {
  text-align: center;
  font-size: 52px;
}

.input__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.input__title {
  font-size: 32px;
}

.input__todo {
  margin: 20px 0 40px;
  font-size: 24px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #282c34;
  padding: 15px 25px;
  width: 50%;
  color: #fff
}

.input__submit {
  width: 20%;
  font-size: 18px;
  min-width: 100px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px 25px;
  color: #282c34;
  transition: all .2s linear;
  cursor: pointer;
}

.input__submit:hover {
  color: #fff;
  background-color: #282c34;
}

.todo__list {
  margin-top: 60px;
}

.todo__item {
  background-color: #fff;
  color: #282c34;
  padding: 15px 25px;
  min-width: 60%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-top: 30px;
}

.todo__title {
  font-size: 32px;
  margin-left: 20px;
  position: relative;
}

.todo__title.cross-out::after {
  width: 100%;
}

.todo__title::after {
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
  width: 0;
  height: 1px;
  background-color: #282c34;
  transition: all .2s linear;
}

.edit__btn {
  margin-left: auto;
  border: 0;
  background-color: #282c34;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}