.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content{
    max-width: 100%;
    height: 1150;
    margin: 150px auto 0px;

}

.home-heading{
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;

    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin:auto;
    max-width: 631px;
    text-align: center;
}

.home-text{
    max-width: 459px;
    height: 20px;
    color:white;
    font-family:'Poppins';
    margin: 27px auto;
    font-weight:700;
    text-align: center;
}



.home-btns {
    max-width: 400px;
    height: 52px;
    margin:71px auto;
    align-items: center;


}

.white{
    text-decoration: none;
    font-size: 16px;
    color: #112D57;
    font-weight: 500px;
    padding: 18px 46px;
    background: #FFFFFF;
    color: #112D57;
    margin-right: 13px;
    border-radius: 39px;

}

.border{
    text-decoration: none;
    border-radius: 39px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500px;
    padding: 18px 46px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    max-width: 177px;

}

.home-img img{
    width: 100%;
    Padding: 40px, 10px, 40px, 10px;
    margin-top: 50px;
}
@media(max-width: 400px){
    .home-btns a{
        display:block;
        justify-content: center;
        padding: 18px 30px;
        margin: 10px 100px;

    }
}