
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


body {
    background-color: #fff;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #5c5c5c;
    line-height: calc(27 / 16 * 100%);
}

.DarkHero3 {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
}
@media (max-width: 776px) {
    .header {
        padding-top: 0;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    min-height: 120px;
    align-items: center;
}

@media (max-width: 776px) {
    .navbar {
        min-height: 100px;
    }
}

.logo_dark {
    margin-bottom: 10px;
}
.logo_dark img {
    max-width: 100%;
    height: auto;
}

.nav {
    padding: 5px 0;
}
.menu {
    margin: 0 0 0 222px;
    font-size: 18px;
    font-weight: 400;
}
@media (max-width: 1280px) {
    .menu {
        margin: 0 0 0 130px;
    }
}
@media (max-width: 1068px) {
    .menu {
        margin: 0 0 0 70px;
    }
}
@media (max-width: 922px) {
    .menu {
        margin: 0 0 0 10px;
    }
}
@media (max-width: 776px) {
    .menu {
        display: none;
    }
}

.Frame17 {
    display: flex;
    flex-wrap: wrap;
}
.link {
}
.link:not(:last-child) {
    margin: 0 32px 0 0;
}
.link_new {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: calc(26 / 15 * 100%);
    transition: color 0.3s linear;
}

.link_new:hover {
    color: rgb(41, 4, 247);
}

.button {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #fff;
    border-radius: 39px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 18px 46px;
    margin: 12px 12px;
    transition: color 0.2s linear, background-color 0.2s linear;
}
.button1 {
    margin: 0 0 0 254px;
    white-space: nowrap;
}
.button1:hover {
    color: #112D57;
    background-color: #fff;
}
@media (max-width: 1280px) {
    .button1 {
        margin: 0 0 0 162px;
    }
}
@media (max-width: 1068px) {
    .button1 {
        margin: 0 0 0 102px;
    }
}
@media (max-width: 922px) {
    .button1 {
        margin: 0 0 0 42px;
    }
}
@media (max-width: 776px) {
    .button1 {
        margin: 0 0 0 20%;
    }
}
@media (max-width: 548px) {
    .button1 {
        text-align: center;
        margin: 0 0 0 40px;
        padding: 8px 28px;
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .button1 {
        margin: 0 0 0 8px;
    }
}

.vector {
    display: none;
}
.vector img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 776px) {
    .vector {
        display: inline-block;
        margin: 10px 0 0 28px;
    }
}


.content {
    flex: 1 1 auto;
    width: 100%;
    background: linear-gradient(to bottom left, #cb1ae8, #37bda6);
}

.content_container {
    width: 100%;
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.text_content {
    margin: 0 auto;
    text-align: center;
    padding: 192px 0 0 0;
    max-width: 652px;
}
@media (max-width: 548px) {
    .text_content {
        width: 80%;
    }
}
@media (max-width: 400px) {
    .text_content {
        width: 90%;
    }
}

@media (max-width: 548px) {
    .text_content > *:last-child {
        margin-top: 32px;
    }
}
.text_content {
    margin-bottom: 60px;
}
.headline {
    font-size: 55px;
    font-weight: 900;
    line-height: calc(65 / 55 * 100%);
    color: #ffffff;
}
@media (max-width: 548px) {
    .headline {
        font-size: 46px;
        font-weight: 500;
        line-height: calc(57 / 46 * 100%);
    }
}
@media (max-width: 400px) {
    .headline {
        font-size: 40px;
        font-weight: 500;
        line-height: calc(57 / 46 * 100%);
    }
}
.sub_heading {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 16 * 100%);
    color: #e5e5e5;
}
.buttons {
    margin: 0 0 100px 0;
}
@media (max-width: 548px) {
    .buttons {
        margin: 0 0 60px 0;
    }
}
.button2:hover {
    color: #112D57;
    background-color: #fff;
}

@media (max-width: 548px) {
    .button2 {
        padding: 18px 80px;
    }
}
@media (max-width: 548px) {
    .button2 {
        padding: 18px 80px;
    }
}
@media (max-width: 400px) {
    .button2 {
        padding: 18px 60px;
    }
}
.Frame18 img {
    max-width: 100%;
    height: auto;


}
.Frame18 {
    padding-bottom: 84px;
    text-align: center;
}
@media (max-width: 548px) {
    .Frame18 {
        padding-bottom: 60px;
    }
}

.header2 {
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 0 0;
    max-width: 754px;
}
@media (max-width: 560px) {
    .header2 {
        max-width: 420px;
    }
}
@media (max-width: 488px) {
    .header2 {
        max-width: 302px;
    }
}
.SecondHeadline {
    font-size: 46px;
    font-weight: 500;
    line-height: calc(57 / 46 * 100%);
    color: #000;
    margin-bottom: 10px;
}
@media (max-width: 488px) {
    .SecondHeadline {
        font-size: 40px;
    }
}

.content_lF2 {
    display: flex;
    margin: 88px -150px;
}
.services_content_column {
    padding: 0 15px;
    flex: 0 1 33.333%;
    text-align: left;
}
.Card {
    min-width: 400px;
    background-image: none;
    border: 1px solid #dedede;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 50px;
    transition: color 0.2s linear, 0.2s background-image linear;
}
@media (max-width: 1300px) {
    .content_lF2 {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 1300px) {
    .services_content_column {
        padding-bottom: 64px;
    }
}
@media (max-width: 859px) {
    .Card {
        text-align: center;
    }
}
@media (max-width: 488px) {
    .Card {
        min-width: 280px;
        padding: 40px;
    }
}

.icon {
    padding: 10px 0 10px 10px;
    margin-bottom: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    line-height: calc(33 / 30 * 100%);
    color: #000;
    padding: 10px 0 10px 10px;
}
.paragraph {
    font-size: 18px;
    font-weight: normal;
    line-height: calc(27 / 18 * 100%);
    padding: 10px 0 10px 10px;
}
.Link a {
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    line-height: calc(27 / 15 * 100%);
    color: #03d6f3;
    padding: 10px 0 10px 10px;
}
.Card:hover {
    background-image: linear-gradient(to bottom left, #cb1ae8, #37bda6);
}
.Card:hover .vector2 path {
    fill: #fff;
}
.Card:hover .title,
.Card:hover .paragraph,
.Card:hover .Link a {
    color: #fff !important;
}
@media (max-width: 488px) {
    .title {
        font-size: 26px;
    }
    .paragraph {
        font-size: 16px;
    }
}

.content_3 {
    position: relative;
    padding: 150px 0;
}

.Frame19 {
    display: flex;
    flex-direction: column;
}
.block_title {
    max-width: 510px;
    text-align: center;
}
.text_content_3 {
    margin-right: 50%;
    margin-left: 8%; 
}

.block_title .Second_Headline {
    text-align: left;
}

.block_buttons {
    margin-right: 50%;
    margin-left: 8%;
}

.button3 {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #30d7ba;
    border-radius: 39px;
    color: #30d7ba;
    font-weight: 500;
    text-decoration: none;
    padding: 18px 46px;
    margin: 10px 22px 14px 0;
    transition: color 0.2s linear, background-color 0.2s linear;
}
.button3:hover {
    color: #fff;
    background-color: #30d7ba;
}

.block_image img {
    max-width: 100%;
    height: auto;
}
.block_image {
    margin-top: 60px;
    position: absolute;
    width: 50%;
    height: 100%;
}
.Frame18_3 {
    top: 0;
    right: 0;
}

.Second_Headline {
    font-size: 46px;
    font-weight: 500;
    line-height: calc(57 / 46 * 100%);
    color: #000;
    padding: 10px;
    text-align: left;
}

.Second_Headline6 {
    font-size: 46px;
    font-weight: 300;
    line-height: calc(57 / 46 * 100%);
    color: #000;
    padding: 10px;
    text-align: left;
}

.paragraph2 {
    font-size: 16px;
    font-weight: normal;
    line-height: calc(27 / 18 * 100%);
    padding: 10px 0 10px 10px;
}

.sub_heading2 {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(27 / 18 * 100%);
    padding: 28px 10px;
    text-align: left;
}

.text_content_4 {
    margin-right: 8%;
    margin-left: 50%;
}
.block_buttons4 {
    margin-right: 8%;
    margin-left: 50%;
}
.Frame18_4 {
    top: 0;
    left: 0;
}

@media (max-width: 1137px) {
    .content_3 {
        padding: 10px 0;
    }
}
@media (max-width: 560px) {
    .block_title {
        max-width: 346px;
        padding-bottom: 78px;
    }
    .block_title .sub_heading2 {
        padding: 10px 10px;
        text-align: center !important;
    }
}
@media (max-width: 1137px) {
    .block_title {
        margin: 0 auto;
    }
    .block_buttons {
        margin: 0 auto;
        text-align: center;
    }
    .block_image {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: inherit;
    }
}
@media (max-width: 418px) {
    .block_title > *:not(:last-child) {
        padding-bottom: 40px;
    }
    .Second_Headline {
        font-size: 40px !important;
    }
}
@media (max-width: 1137px) {
    .block_title {
        margin: 0 auto;
    }
    .block_buttons {
        margin: 0 auto;
        text-align: center;
    }
    .block_image {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: inherit;
    }
}
@media (max-width: 560px) {
    .Frame22 {
        width: 100%;
        padding-bottom: 78px;
    }
    .button3 {
        padding: 18px 107px;
        margin: 22px 22px;
    }
}
@media (max-width: 418px) {
    .button3 {
        padding: 18px 60px;
        margin: 22px 22px;
    }
}


.PRICING_text {
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 0 0;
    max-width: 686px;
}
.PRICING_text > *:not(:last-child) {
    margin-bottom: 30px;
}
.PRICING_headline {
    font-size: 46px;
    font-weight: 500;
    line-height: calc(57 / 46 * 100%);
    color: #000;
}
.PRICING_paragrap {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27 / 18 * 100%);
}

.PRICING_columns {
    display: flex;

    margin: 88px -15px;
}
.PRICING_column {
    padding: 0 15px;
    flex: 0 1 33.333%;
    text-align: left;
}
.PRICING_item {
    min-width: 350px;
    border: 1px solid #dedede;
    text-align: center;
    padding: 40px 40px;
}

.PRICING_title {
    font-size: 30px;
    font-weight: bold;
    line-height: calc(33 / 30 * 100%);
    color: #000;
    padding: 10px;
}
.PRICING_subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: calc(18 / 12 * 100%);
    padding: 0 10px;
}
.PRICING_image img {
    max-width: 100%;
    height: auto;
}
.PRICING_image {
    padding: 30px 0;
}
.PRICING_price > * {
}
.price {
    font-size: 55px;
    font-weight: 900;
    color: #30d7ba;
    margin: 0 0 27px 18px;
}
.price .suptitle {
    padding-left: 10px;
    font-weight: 700;
    font-size: 30px;
}
.price::after {
    content: "Per/ month";
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #5c5c5c;
    margin-right: 10px;
    line-height: calc(18 / 12 * 100%);
}
.PRICING_list {
    margin: 0 auto;
    padding: 0 0 30px 0;
}
.PRICING_Link {
    font-size: 15px;
    font-weight: 700;
    line-height: calc(27 / 15 * 100%);
    padding: 10px;
    color: #000;
}
#not_available {
    font-weight: 400 !important;
    color: #5c5c5c !important;
}
.PRICING_buttons {
    padding-bottom: 40px;
}
.PRICING_button {
    margin: 0;
    padding: 18px 82px;
}
.bottom_line {
    border: 1px solid #cdcdcd;
    margin: 50px 0;
}
@media (max-width: 1300px) {
    .offers_columns {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 1300px) {
    .PRICING_columns {
        padding-bottom: 64px;
    }
}
@media (max-width: 418px) {
    .PRICING_item {
        min-width: 300px;
    }
}
@media (max-width: 418px) {
    .PRICING_buttons {
        padding: 18px 60px;
    }
}
@media (max-width: 418px) {
    .PRICING_text {
        padding: 50px;
    }
    .PRICING_headline {
        font-size: 34px;
    }
}

.ight_CTA_2_text_content {
    margin: 0 auto;
    text-align: center;
    min-width: 376px;
    padding: 62px 0;
}
.ight_CTA_2_Headline {
    font-size: 46px;
    font-weight: 500;
    line-height: calc(57 / 46 * 100%);
    color: #000;
    padding: 10px;
}
.ight_CTA_2_paragraphe {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27 / 18 * 100%);
}
.ight_CTA_2_MAILING {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 114px;
}
.ight_CTA_2_input_block {
    display: inline-block;
    min-width: 284px;
    background-color: #efefef;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    margin: 15px 10px 0 0;
    padding: 14px 28px;
}
.ight_CTA_2_input {
    border: none;
    background-color: #efefef;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: calc(24 / 15 * 100%);
    color: #5c5c5c;
}
.ight_CTA_2_input:focus {
    outline: none;
}
.ight_CTA_2_button {
    margin: 10px 0 0 0;
}
@media (max-width: 560px) {
    .ight_CTA_2_input_block {
        margin: 15px 0 15px 0;
        width: 100%;
        padding: 16px 28px;
    }
    .ight_CTA_2_button {
        width: 100%;
        border-radius: 6px;
        margin-top: 0;
    }
    .ight_CTA_2_input {
        margin-right: 0;
    }
}
@media (max-width: 418px) {
    .ight_CTA_2_text_content {
        min-width: 280px;
        padding: 50px 0;
    }
    .ight_CTA_2_Headline {
        font-size: 34px;
    }
}

.FOOTER_3 {
    background-color: #112d57;
}
.FOOTER_3_body {
    padding: 62px 0;
}
.FOOTER_3_columns {
    display: flex;
    margin: 0 -15px;
}
.FOOTER_3_column {
    padding: 0 15px;
    flex: 0 1 33.333%;
}
.FOOTER_3_item {
    min-width: 340px;
    text-align: center;
}
.FOOTER_3_image img {
    max-width: 100%;
    height: auto;
}
.FOOTER_3_row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
}
.FOOTER_3_list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.FOOTER_3_link {
    font-size: 15px;
    font-weight: 400;
    line-height: calc(27 / 15 * 100%);
    color: #fff;
    padding: 10px;
}
#FOOTER_3_Subtitle {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: calc(18 / 12 * 100%);
    color: #fff;
    padding: 0 40px;
}
.FOOTER_3_row_right {
    display: flex;
    align-items: center;
    text-align: left;
}
.FOOTER_3_icon {
    display: inline;
}
.FOOTER_3_icon svg {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}
.FOOTER_3_adress {
    display: inline;
    font-size: 15px;
    font-weight: 400;
    line-height: calc(27 / 15 * 100%);
    color: #fff;
    padding: 10px;
}
.FOOTER_3_phone {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px 0;
}
.social_media {
    display: flex;
    justify-content: space-between;
    max-width: 172px;
}
@media (max-width: 1300px) {
    .FOOTER_3_columns {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 1300px) {
    .FOOTER_3_column {
        padding-bottom: 64px;
    }
}
@media (max-width: 418px) {
    .FOOTER_3_item {
        min-width: 300px;
    }
}