#header {
    height: 30px;
    background-color: #fff;
    width: 100%;
}

body{
    margin:0;
    font-family:'Circular Std';
}
#logo{
    margin-left: 5%;
    margin-top: 2%;
}
#Hero0{
    display: flex;
    justify-content: space-between;
    margin-left:5%;
    margin-right:5%;
    align-items:center;
    
}
.headerBlock{
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-right: 4%;
    font-size: 18px;
    
}
@font-face {
	font-family: 'Circular Std'; 
	src: url(./fonts/CircularStd-Black.ttf); 
}
#loginButton{
    background-color: #fff;
    border: 1px solid #00B6F0;
    padding: 15px 40px;
    border-radius: 25px;
    font-size:18px;
    font-family: 'Circular Std';
    color:#00b6f0;
    

}
#loginButton:hover{
    color:#fff;
    background-color:#00b6f0;
    border-color: #006283;
}
#backgroundHero0{
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 7.62%, rgba(0, 225, 255, 0.22) 25.5%, #FFFFFF 70.92%);
}
.firsttext{
    font-size:72px;
    margin-top:8%;
    text-align: center;
    color:#112D57;
}
.secondtext{
    font-size:24px;
    margin-left:32%;
    margin-right:32%;
    text-align: center;
    color:#5C5C5C;
}
.twoButtons{
    display: flex;
    justify-content: center;
    margin-top:6%;
    font-size: 18px;
}
.StartButton{
    background-color: #00B6F0;
    border: 1px solid #00B6F0;
    padding: 13px 40px;
    border-radius: 25px;
    font-size:18px;
    font-family: 'Circular Std';
    color:#fff;
    margin-right:10px;
}
.TryButton{
    background-color: #fff;
    border: 1px solid #fff;
    padding: 13px 40px;
    border-radius: 25px;
    font-size:18px;
    font-family: 'Circular Std';
    color:#000000;
    margin-left:10px;
}
.website{
    margin-top:4%;
    text-align:center;
    width:100vw;
    height:fit-content;
}
.websiteImage{
    width:62vw;
}
.JustType{
    margin-top: 2%;
    font-size:36px;
    color:#F3CD03;
    font-family:"Circular Std";
    text-align:center;
}
.FastestWay{
    font-size:56px;
    color:#20262A;
    font-family:"Circular Std";
    text-align:center;
}

.MostCalendars{
    font-size:24px;
    color:#5C5C5C;
    font-family:"Circular Std";
    text-align:center;
    
}
.twoButtons2{
    display: flex;
    justify-content: center;
    margin-top:3%;
    font-size: 18px;
}
.button1{
    background-color: #00B6F0;
    border: 1px solid #00B6F0;
    padding: 13px 40px;
    border-radius: 25px;
    font-size:18px;
    font-family: 'Circular Std';
    color:#fff;
    margin-right:10px;
}
.button2{
    background-color: #ffffff;
    border: 1px solid #00B6F0;
    padding: 13px 40px;
    border-radius: 25px;
    font-size:18px;
    font-family: 'Circular Std';
    color:#00B6F0;
    margin-right:10px;
}
.OpenType{
    display: flex;
    justify-content: center;
    margin-left:5%;
    margin-right:5%;
    margin-top:10%;
    align-items:center;
}
.textOpenType{
    width:35vw;
}
.text1{
    margin-top: 4%;
    font-size:36px;
    color:#20262A;
    font-family:"Circular Std";
    text-align:left;
}
.text2{
    margin-top: 2%;
    font-size:24px;
    color:#5C5C5C;
    font-family:"Circular Std";
    text-align:left;
}
.text3{
    margin-top: 2%;
    font-size:18px;
    color:#00B6F0;
    font-family:"Circular Std";
    text-align:left;
}
.Variable{
    display: flex;
    justify-content: center;
    margin-left:5%;
    margin-right:5%;
    margin-top:10%;
    align-items:center;
}
.ARethink{
    margin-top: 8%;
    font-size:56px;
    color:#20262A;
    font-family:"Circular Std";
    text-align:center;
}
.Being{
    margin-top: 2%;
    font-size:19px;
    color:#5C5C5C;
    font-family:"Circular Std";
    text-align:center;
}
.rectangle{
    width:50vw;
    text-align:center;
}
.website1{
    margin-top:4%;
    text-align:center;
    width:100vw;
    height:fit-content;
}
.rectangle{
    width:50vw;
    text-align:center;
}